<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form>
  <label for="email">email:</label><br>
  <input type="text" id="email" name="email" [(ngModel)]="email"><br>
  <label for="password">password:</label><br>
  <input type="text" id="password" name="password" [(ngModel)]="password"><br><br>
  <button (click)="login()">Login</button>
</form>

<p>Dane</p>



<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Title</th>
    <th scope="col">Author</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let element of data; index as i">
    <th scope="row">{{element.title}}</th>
    <td>
      {{element.author}}
    </td>
  </tr>
  </tbody>
</table>

</body>
</html>

